@import url("reset.css");
@import url(../../fonts/playfair/style.css);
@import url(../../fonts/post-nobiils/style.css);
@import url(../../fonts/pt-sans/style.css);
@import url(media.css);
@import url(anim.css);
body {
  background-color: rgb(0, 0, 0);
}

h2 {
  font-family: "Playfair Display Bold";
  font-size: 36px;
  line-height: 42px;
  color: #fff;
}
@media (max-width: 445px) {
  h2 {
    font-size: 27px;
    line-height: 30px;
  }
}
@media (max-width: 325px) {
  h2 {
    font-size: 23px;
    line-height: 27px;
  }
}

h3 {
  font-family: "Playfair Display Regular";
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.header_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header_content .info {
  width: 100%;
  height: 44px;
}
.header_content .info .info_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1100px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .header_content .info .info_content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.header_content .info .info_content .phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 10px 0 10px;
}
.header_content .info .info_content .phone p:nth-child(3) {
  border-right: 1px solid #969696;
  border-left: 1px solid #969696;
}
.header_content .info .info_content .reg_auth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header_content .info .info_content .reg_auth a {
  color: #969696;
  text-decoration: none;
  outline: none;
}
@media (max-width: 768px) {
  .header_content .info .info_content .reg_auth {
    display: none;
  }
}
.header_content .info .info_content p {
  font-family: "PT Sans Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  padding: 0 10px 0 10px;
  color: #969696;
}
.header_content .navbar {
  background-color: #0F0F0F;
  width: 100%;
  height: 80px;
}
.header_content .navbar .navbar_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1100px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.header_content .navbar .navbar_content .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 10px 0 10px;
}
.header_content .navbar .navbar_content nav {
  max-width: 525px;
  width: 100%;
}
.header_content .navbar .navbar_content nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
@media (max-width: 768px) {
  .header_content .navbar .navbar_content nav ul {
    display: none;
  }
}
.header_content .navbar .navbar_content nav ul li {
  height: 100%;
}
.header_content .navbar .navbar_content nav ul li a {
  font-family: "PT Sans Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 500%;
  color: #969696;
  text-decoration: none;
  outline: none;
  display: block;
  height: 100%;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}
.header_content .navbar .navbar_content nav ul li:nth-child(-n+3) a:hover {
  background-color: #1f1f1f;
  color: #fff;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.first_screen {
  background-image: url(../../img/firs_peaple.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 900px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.first_screen .screen_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.first_screen .screen_content .litering {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  max-width: 675px;
  width: 100%;
  margin-top: 91px;
}
.first_screen .screen_content .litering p {
  font-family: "PT Sans Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 50px 5px 0px 5px;
  max-width: 260px;
  width: 100%;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}
.product:hover {
  margin: 0 5px;
}
.product img {
  background-color: #191B1C;
  width: 100%;
  height: auto;
  padding: 35px 0 30px 0;
}
.product h5 {
  font-family: "Playfair Display Regular";
  font-size: 18px;
  line-height: 21px;
  margin: 25px 0 10px 0;
  color: #fff;
}
.product p {
  font-family: "Playfair Display Regular";
  font-size: 16px;
  line-height: 19px;
  color: #fff;
}
@media (max-width: 445px) {
  .product.lit h5 {
    font-size: 13px;
    line-height: 19px;
  }
  .product.lit p {
    font-size: 10px;
    line-height: 17px;
  }
}

.new {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.new .new_season {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1040px;
  width: 100%;
}
.new .new_season span {
  margin-top: 50px;
  width: 120px;
  height: 2px;
  background-color: #FFFFFF;
}
.new .new_season .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.new .new_collection {
  max-width: 880px;
  width: 100%;
  position: relative;
}
.new .new_collection .content {
  position: absolute;
  height: 100%;
  text-align: center;
  width: 100%;
  bottom: 230px;
}
.new .new_collection .content::before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.new .new_collection .content button {
  width: 138px;
  height: 47px;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #FFFFFF;
  font-family: "PT Sans Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}
.new .new_collection .content button:hover {
  background-color: rgba(255, 255, 255, 0.743);
  color: rgb(51, 51, 51);
}
.new .new_collection .content span {
  display: block;
  margin: 20px auto;
  width: 120px;
  height: 2px;
  background-color: #FFFFFF;
}
.new .new_collection img {
  width: 100%;
  height: auto;
}

.old_collection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.old_collection .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}
.old_collection .content button {
  width: 311px;
  height: 47px;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #FFFFFF;
  font-family: "PT Sans Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}
.old_collection .content button:hover {
  background-color: rgba(255, 255, 255, 0.743);
  color: rgb(51, 51, 51);
}
.old_collection .content p {
  max-width: 471px;
  margin-bottom: 40px;
  text-align: center;
  font-family: "PT Sans Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #FFFFFF;
}
@media (max-width: 445px) {
  .old_collection .content p {
    font-size: 13px;
    line-height: 100%;
  }
}
.old_collection .content span {
  margin: 40px 0 40px 0;
  width: 120px;
  height: 2px;
  background-color: #FFFFFF;
}
.old_collection img {
  width: 100%;
  height: auto;
}

.new_arrival {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 120px 0 150px;
}
.new_arrival span {
  margin: 40px 0 81px 0;
  width: 120px;
  height: 2px;
  background-color: #FFFFFF;
}
.new_arrival .content {
  max-width: 1115px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.brends {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 80px;
}
.brends span {
  margin: 40px 0 40px;
  width: 120px;
  height: 2px;
  background-color: #FFFFFF;
}
.brends .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.brends .content img {
  margin: 0 15px 0 15px;
}

footer {
  background-image: url(../../img/footer.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}
footer .information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
footer .information .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1110px;
  width: 100%;
}
footer .information .content .about_us {
  max-width: 350px;
  width: 100%;
  text-align: left;
}
footer .information .content .about_us p {
  margin: 40px 0 0;
  font-family: "PT Sans Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #FFFFFF;
}
@media (max-width: 445px) {
  footer .information .content .about_us p {
    font-size: 13px;
    line-height: 100%;
  }
}
footer .information .content .catygory {
  max-width: 350px;
  width: 100%;
}
footer .information .content .catygory button {
  margin: 20px 20px 0 0;
  background-color: #0F0F0F;
  border: 1px solid #0F0F0F;
  font-family: "PT Sans Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  padding: 10px 20px;
  color: #FFFFFF;
  -webkit-transition: 0.7s;
  transition: 0.7s;
}
footer .information .content .catygory button:hover {
  background-color: rgb(208, 208, 208);
  color: rgb(0, 0, 0);
  border: 1px solid rgb(208, 208, 208);
  -webkit-transition: background-color 0.7s;
  transition: background-color 0.7s;
}
@media (max-width: 445px) {
  footer .information .content .catygory {
    text-align: center;
  }
}
footer .information .content .mailing {
  max-width: 350px;
  width: 100%;
}
@media (max-width: 445px) {
  footer .information .content .mailing {
    display: none;
  }
}
footer .information .content .mailing p {
  margin: 40px 0 40px;
  font-family: "PT Sans Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #FFFFFF;
}
@media (max-width: 445px) {
  footer .information .content .mailing p {
    font-size: 13px;
    line-height: 100%;
  }
}
footer .information .content .mailing button {
  background-color: #0F0F0F;
  border: 1px solid #0F0F0F;
  font-family: "PT Sans Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  padding: 10px 20px;
  color: #FFFFFF;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  text-align: center;
}
footer .information .content .mailing button:hover {
  background-color: rgb(208, 208, 208);
  color: rgb(0, 0, 0);
  border: 1px solid rgb(208, 208, 208);
  -webkit-transition: background-color 0.7s;
  transition: background-color 0.7s;
}
footer .information .content .mailing input {
  background-color: rgba(255, 255, 255, 0.4);
  height: 42px;
}

.autors {
  font-family: "PT Sans Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #FFFFFF;
  color: #D0D0D0;
  max-width: 1110px;
  width: 100%;
  text-align: left;
  padding: 17px 0 17px 0;
  margin: 0 auto;
}
@media (max-width: 445px) {
  .autors {
    font-size: 13px;
    line-height: 100%;
  }
}
