.animate__animated{
    .animate__fadeIn{
        --animate-duration: 2s;
    }
    .animate__zoomInDown{
        --animate-duration: 2s;
    }
    .animate__zoomIn{
        --animate-duration: 2s;
    }
    .animate__zoomInUp{
        --animate-duration: 3s;
    }
  }
