@import url("reset.css");
@import url(/fonts/playfair/style.css);
@import url(/fonts/post-nobiils/style.css);
@import url(/fonts/pt-sans/style.css);

body{
    background-color: rgb(0, 0, 0);
}

@mixin fontSizeH{
    font-family: 'Playfair Display Rgular';
    font-size: 36px;
    line-height: 42px;
}
@mixin fontSizeP{
    font-family: 'Playfair Display Regular';
    font-size: 18px;
    line-height: 21px;  
}
@mixin fontSizeP-min{
    font-family: 'Playfair Display Regular';
    font-size: 16px;
    line-height: 19px;
}
.header_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    .info{
        width: 100%;
        height: 44px;
        .info_content{
            display: flex;
            justify-content: space-between;
            max-width: 1100px;
            width: 100%;
            height: 100%;
            margin: 0 auto;
            .phone{
                display: flex;
                justify-content: space-between;
                align-items: center;
                p:nth-child(3){
                    border-right: 1px solid #969696;
                    border-left: 1px solid #969696;
                }
            }
            .reg_auth{
                display: flex;
                justify-content: space-between;
                align-items: center;
                a{
                    color: #969696;;
                    text-decoration: none;
                    outline: none;
                }
                
            }
            p{
                font-family: 'PT Sans Regular';
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 16px;
                padding: 0 10px 0 10px;
                color: #969696;
            }
    }
    }
    .navbar{
        background-color: #0F0F0F;
        width: 100%;
        height: 80px;
        .navbar_content{
            display: flex;
            justify-content: space-between;
            max-width: 1100px;
            width: 100%;
            height: 100%;
            margin: 0 auto;
            .logo{
                display: flex;
                align-items: center;
            }
            nav{
                max-width: 525px;
                width: 100%;
                ul{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    height: 100%;
                }
                a{
                    font-family: 'PT Sans Regular';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 18px;
                    color: #969696;;
                    text-decoration: none;
                    outline: none;
                }
            
            }
        
        }
        
    }
}