@import url("reset.css");
@import url(/fonts/playfair/style.css);
@import url(/fonts/post-nobiils/style.css);
@import url(/fonts/pt-sans/style.css);

body{
    background-color: rgb(0, 0, 0);
}

@mixin fontSizeH{
    font-family: 'Playfair Display Bold';
    font-size: 36px;
    line-height: 42px;
    color: #fff;
}
@mixin fontSizeP{
    font-family: 'Playfair Display Regular';
    font-size: 18px;
    line-height: 21px;
    margin: 25px 0 10px 0;
    color: #fff;  
}
@mixin fontSizeP-min{
    font-family: 'Playfair Display Regular';
    font-size: 16px;
    line-height: 19px;
    color: #fff;
}
@mixin button_white{
        background-color: rgba(255, 255, 255, 0);
        border: 1px solid #FFFFFF;
        font-family: 'PT Sans Regular';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 23px;
        color: #FFFFFF;
}
h2{
    @include fontSizeH
}
.header_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    .info{
        width: 100%;
        height: 44px;
        .info_content{
            display: flex;
            justify-content: space-between;
            max-width: 1100px;
            width: 100%;
            height: 100%;
            margin: 0 auto;
            .phone{
                display: flex;
                justify-content: space-between;
                align-items: center;
                p:nth-child(3){
                    border-right: 1px solid #969696;
                    border-left: 1px solid #969696;
                }
            }
            .reg_auth{
                display: flex;
                justify-content: space-between;
                align-items: center;
                a{
                    color: #969696;;
                    text-decoration: none;
                    outline: none;
                }
                
            }
            p{
                font-family: 'PT Sans Regular';
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 16px;
                padding: 0 10px 0 10px;
                color: #969696;
            }
    }
    }
    .navbar{
        background-color: #0F0F0F;
        width: 100%;
        height: 80px;
        .navbar_content{
            display: flex;
            justify-content: space-between;
            max-width: 1100px;
            width: 100%;
            height: 100%;
            margin: 0 auto;
            .logo{
                display: flex;
                align-items: center;
            }
            nav{
                max-width: 525px;
                width: 100%;
                ul{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    height: 100%;
                }
                a{
                    font-family: 'PT Sans Regular';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 18px;
                    color: #969696;;
                    text-decoration: none;
                    outline: none;
                }
            
            }
        
        }
        
    }
}
.first_screen{
    background-image: url(/img/firs_peaple.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height:810px;
    display: flex;
    justify-content: center;
    align-items: center;
    .screen_content{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .litering{
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            max-width: 675px;
            width: 100%;
            margin-top: 91px;
            p{
                font-family: 'PT Sans Regular';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 150%;
                text-align: center;
                text-transform: uppercase;
                color: #FFFFFF;
            }
        }
    }
}
.new{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .new_season{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        max-width: 1040px;
        width: 100%;
        span{
            width: 120px;
            height: 2px;
            background-color: #fff;
            margin-top: 50px;
        }
        .content{
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            .product{
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: flex-start;
                margin-top: 50px;
                max-width: 260px;
                width: 100%;
                img{
                    background-color: #191B1C;
                    width: 100%;
                    padding: 35px 0 30px 0;
                }
                h5{
                    @include fontSizeP
                }
                p{
                    @include fontSizeP-min
                }
            }
        
        }
    }
    .new_collection{
        max-width: 880px;
        width: 100%;
        .content{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            position: absolute;
            bottom: -480px;
            right: 250px;
            height: 146px;
            button{
                width: 138px;
                height: 47px;
                @include button_white
            }
            span{
                width: 120px;
                height: 2px;
                background-color: #FFFFFF;
            }
        }
    }
}
.old_collection{
    display: flex;
    .content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-grow: 2;
        button{
            width: 311px;
            height: 47px;
            @include button_white

        }
        p{
            max-width: 471px;
            font-family: 'PT Sans Regular';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 150%;
            text-align: center;
            color: #FFFFFF;
            margin-bottom: 40px;
        }
        span{
            width: 120px;
            height: 2px;
            background-color: #FFFFFF;
            margin: 40px 0 40px 0;
        }
    }
}